.cache
.classpath
.history
.project
.target/
.settings/
.worksheet/
/dist/
/target/
/logs/
/bin/
/project/project/
/project/target/
/data/
*.iml
.idea/
/.cache-main
/.cache-tests
.java-version
charts/nsi-safnari/Chart.lock
/project/.bloop/
/project/metals.sbt
/.metals/
/.bsp/
