<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${application.home}/logs/application.log</file>
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36} %thread %X{sourceThread} %X{akkaSource} - %msg - %xException%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${application.home}/logs/application.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 90 days worth of history -->
            <maxHistory>90</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %coloredLevel %logger{36} %thread %X{sourceThread} %X{akkaSource} - %msg - %xException{10}%n</pattern>
        </encoder>
    </appender>


    <logger name="play" level="DEBUG" />
    <logger name="application" level="DEBUG" />
    <logger name="controllers" level="DEBUG" />
    <logger name="support" level="DEBUG" />
    <logger name="nl.surfnet.safnari" level="DEBUG" />
    <!-- Database connection pool -->
    <logger name="com.jolbox.bonecp" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
