@import "variables.less";
@import "mixins.less";

body {
    font-family: Arial, sans-serif; /* Bootstrap default is Helvetica (Neue) */
}

.small {
    font-size: 11px;
}

thead {
    background-color: @grayDark;
}

/* header */

header {
    position: relative;
    padding-left: 155px;
    background: url("../images/logo.png") 10px 10px no-repeat;

    h1 {
        padding-top: 30px;
        font-weight: normal;
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
    }

    a,
    a:hover {
        color: transparent;
    }
}


section,
footer {
    background-color: @grayLight;
    .border-radius(8px);

    h1,
    h2 {
        padding-left: 20px;
        font-size: 15px;
        color: @white;
        background-color: @blueSurf;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

h1, h2, h3, h4 {
    margin: 0;
}

.section-modal {
    background-color: @white;
}

h3 {
    font-size: 20px;
}

.ul {
    list-style: none;
}

.form .filter,
.dl,
.ul {
    margin-left: 3em;
}

.ul li {
    margin-bottom: 1em;
    font-weight: bold;
}

.dl dt,
.ul li {
    font-size: 15px;
}

.dl dt:before,
.ul li:before {
    color: #0088CC;
    content: "• ";
}

.dl dt.inactive:before,
.ul li.inactive:before {
    color: #333;
}

.dl dt i,
.ul li i {
    margin-left: 1em;
}

.dl dd {
    margin: 0 0 2em 0.95em;
    color: #666;
}

.tasks {
    margin: 0;
    list-style: none;
}

.tasks li {
    margin-bottom: 1.5em;
}

.tasks li a {
    width: 160px;
    text-align: left;
}

/* Misc. */

.actions .btn + a {
    margin-left: 15px;
}

#csrf-token {
    display: none;
}
