@import "layout.less";
@import "generic.less";
@import "bootstrap-navbar.less";
@import "bootstrap-generic.less";
@import "bootstrap-table.less";
@import "bootstrap-modal.less";

.message .time {
    float: right;
    font-weight: normal;
    color: #DC322F;
    font-size: 0.8em;
}
