@blueSurf:        #006595;
@blueSurfLight:   #0088C9;
@blueSurfLighter: #b5e6ff;
@blueSurfDark:    #005178;
@blackLight:      #b5e6ff;
@white:           #fff;
@grayLight:       #f1f1f1;
@gray:            #ebebeb;
@grayDark:        #d8dadc;
@grayDarker:      #bfbfbf;

@titleTextColour:  #fff;
@titlePaddingLeft: 110px;
@titlePaddingTop:  35px;
@titleHeight:      100px;
@titleBackground:  #006595;
@titleHz:          0px;
@titleVr:          0px;
@titleImage:       "../images/esnet-logo.png";

@messageHeader:         #b5e6ff;
@messageTime:           #049ae3;
@messageElementTag:     #0089cd;
@messageElementContent: #dc322f;
@messageNsTag:          #1e347b;
@messageNsContents:     #6d6d73;
