@blueSurf:        #4fb3cf;
@blueSurfLight:   #85cadd;
@blueSurfLighter: #ecf8fa;
@blueSurfDark:    #0381a4;
@blackLight:      #002f3c;
@white:           #fff;
@grayLight:       #f1f1f1;
@gray:            #ebebeb;
@grayDark:        #d8dadc;
@grayDarker:      #bfbfbf;

