@blueSurf:        #006595;
@blueSurfLight:   #85cadd;
@blueSurfLighter: #ecf8fa;
@blueSurfDark:    #0381a4;
@blackLight:      #002f3c;
@white:           #fff;
@grayLight:       #f1f1f1;
@gray:            #ebebeb;
@grayDark:        #d8dadc;
@grayDarker:      #bfbfbf;

@titleTextColour:  #fff;
@titlePaddingLeft: 110px;
@titlePaddingTop:  35px;
@titleHeight:      100px;
@titleBackground:  #006595;
@titleHz:          0px;
@titleVr:          0px;
@titleImage:       "../images/esnet-logo.png";

