@(connection: presenters.ConnectionPresenter, segments: Seq[presenters.ConnectionPathSegmentPresenter])
@import nl.surfnet.safnari._
@import nl.surfnet.nsiv2.messages._
@import nl.surfnet.nsiv2.utils._

@formatCommittedAndPending[A](committed: Option[A], pending: Option[A]) = @{
  (committed, pending) match {
    case (None, None) => "-"
    case (Some(a), None) => a.toString
    case (None, Some(b)) => "- (" ++ b.toString ++ ")"
    case (Some(a), Some(b)) if a == b => a.toString
    case (Some(a), Some(b)) => a.toString ++ " (" ++ b.toString ++ ")"
  }
}

<div class="row-fluid">
    <div class="span6">
        <dl class="dl-horizontal">
            <dt>Start</dt>
            <dd>@formatCommittedAndPending(connection.committedCriteria.flatMap(_.schedule.startTime.toOption(None)), connection.pendingCriteria.flatMap(_.schedule).flatMap(_.startTime.toOption(None)))</dd>
            <dt>Bandwidth</dt>
            <dd>@formatCommittedAndPending(connection.bandwidth, connection.pendingCriteria.flatMap(_.getPointToPointService).map(_.getCapacity))</dd>
            <dt>Global id</dt>
            <dd>@connection.globalReservationId.getOrElse("-")</dd>
        </dl>
    </div>
    <div class="span6">
        <dl class="dl-horizontal">
            <dt>End</dt>
            <dd>@formatCommittedAndPending(connection.committedCriteria.flatMap(_.schedule.endTime.toOption(None)), connection.pendingCriteria.flatMap(_.schedule).flatMap(_.endTime.toOption(None)))</dd>
            <dt>Version</dt>
            <dd>@formatCommittedAndPending(connection.committedVersion, connection.pendingVersion)</dd>
            <dt>Requester</dt>
            <dd>@connection.requesterNsa</dd>
        </dl>
    </div>
        <dl class="dl-horizontal">
            <dt>Source</dt>
            <dd>@connection.sourceStp.getOrElse("-")</dd>
            <dt>Destination</dt>
            <dd>@connection.destinationStp.getOrElse("-")</dd>
        </dl>
</div>
@if(segments.isEmpty) {
    <strong>No Child Connections</strong>
} else {
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Child connection ID</th>
                <th>NSA</th>
                <th>Path</th>
                <th>Status</th>
                <th>Error?</th>
            </tr>
        </thead>
        <tbody>
            @for(segment <- segments) {
                <tr>
                    <td>@segment.connectionId.present.getOrElse("<unknown>")</td>
                    <td title="@segment.providerNsa">@segment.providerNsaShort</td>
                    <td>
                        <div title="@segment.source"><strong>From</strong>&nbsp;@segment.sourceShort</div>
                        <div title="@segment.destination"><strong>To</strong>&nbsp;@segment.destinationShort</div>
                    </td>
                    <td>@segment.status</td>
                    <td>@segment.lastServiceException.getOrElse("none")</td>
                </tr>
            }
        </tbody>
    </table>
}
