@* _connectionDetails Template File *@
@(connection: presenters.ConnectionPresenter, segments: Seq[presenters.ConnectionPathSegmentPresenter])

<div class="row-fluid">
    <div class="span6">
        <dl class="dl-horizontal">
            <dt>Start</dt>
            <dd>@connection.startTime.getOrElse("-")</dd>
            <dt>Bandwidth</dt>
            <dd>@connection.bandwidth.getOrElse("unknown")</dd>
            <dt>Global id</dt>
            <dd>@connection.globalReservationId.getOrElse("-")</dd>
        </dl>
    </div>
    <div class="span6">
        <dl class="dl-horizontal">
            <dt>End</dt>
            <dd>@connection.endTime.getOrElse("-")</dd>
            <dt>Version</dt>
            <dd>@connection.version</dd>
            <dt>Requester</dt>
            <dd>@connection.requesterNsa</dd>
        </dl>
    </div>
        <dl class="dl-horizontal">
            <dt>Source</dt>
            <dd>@connection.sourceStp.getOrElse("unknown")</dd>
            <dt>Destination</dt>
            <dd>@connection.destinationStp.getOrElse("unknown")</dd>
        </dl>
</div>
@if(segments.isEmpty) {
    <strong>No Child Connections</strong>
} else {
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Child connection ID</th>
                <th>NSA</th>
                <th>Path</th>
                <th>Status</th>
                <th>Error?</th>
            </tr>
        </thead>
        <tbody>
            @for(segment <- segments) {
                <tr>
                    <td>@segment.connectionId.getOrElse("<unknown>")</td>
                    <td title="@segment.providerNsa">@segment.providerNsaShort</td>
                    <td>
                        <div title="@segment.source"><strong>From</strong>&nbsp;@segment.sourceShort</div>
                        <div title="@segment.destination"><strong>To</strong>&nbsp;@segment.destinationShort</div>
                    </td>
                    <td>@segment.status</td>
                    <td>@segment.lastServiceException.getOrElse("none")</td>
                </tr>
            }
        </tbody>
    </table>
}
