@(connections: Seq[(presenters.ConnectionPresenter, Seq[presenters.ConnectionPathSegmentPresenter])])

@if(connections.isEmpty) {
    No Connections found
} else {
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>ConnectionId</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        @for((connection, segments) <- connections) {
            <tr class="rowdetails">
                <td class="center">
                    <i class="icon-plus-sign"></i>
                    <i class="icon-minus-sign"></i>
                    <div class="rowdetails-content">
                    @_connectionDetails(connection, segments)
                    </div>
                </td>
                <td><a href="@routes.ApplicationController.connection(connection.connectionId)">@connection.connectionId</a></td>
                <td>@connection.description.getOrElse("-")</td>
                <td>@connection.status</td>
            </tr>
        }
        </tbody>
    </table>
}
