@(criteria: org.ogf.schemas.nsi._2013._07.connection.types.ReservationConfirmCriteriaType, connection: org.ogf.schemas.nsi._2013._07.connection.types.QuerySummaryResultType, segments: Seq[nl.surfnet.safnari.ConnectionData], messages: Seq[nl.surfnet.safnari.MessageRecord[nl.surfnet.safnari.Message]])

@import nl.surfnet.safnari._
@import nl.surfnet.safnari.NsiSoapConversions._
@import nl.surfnet.safnari.SerializedMessage._
@import org.w3c.dom.Document
@import scala.xml.PrettyPrinter
@import play.api.libs.json.{ Json, Writes, JsString }
@import play.api.libs.json.extensions._
@import org.joda.time.Instant

@id() = @{
    if (connection.getGlobalReservationId != null && connection.getGlobalReservationId.nonEmpty)
      s"${connection.getConnectionId} (${connection.getGlobalReservationId})"
    else
      s"${connection.getConnectionId}"
}

@prettyXml(document: Document) = @{
  val pp = new PrettyPrinter(Int.MaxValue, 2)
  val xml = documentToScalaXml(document)
  pp.format(xml)
}
@prettyJson[A: Writes](a: A) = @{
  val json = Json.toJson(a).updateAll {
    case ((__ \ "path")@@idx \ "credentials" \ "token", value) => JsString("******")
    case ((__ \ "path")@@idx \ "credentials" \ "password", value) => JsString("******")
  }
  Json.prettyPrint(json)
}

@display(index: Int, text: String, time: Instant, body: String) = {
  <div class="message"><span class="section-number">@(index + 1).</span> @text<span class="time">@time.toDateTime.toString("YYYY-MM-dd HH:mm:ss,SSS")</span></div>
  <pre class="prettyprint">@body</pre>
}

@main(s"Connection ${id()}", "connections") {

    <section id="connection">
        <h1>Connection @id()</h1>
        <div class="connection-details">
            @_connectionDetails(criteria, connection, segments)
        </div>
    </section>
    <section id="messages">
        <h1>Messages</h1>
        <div class="content">
            <div class="xml-content">
                @for((record, index) <- messages.zipWithIndex.reverse) {
                  @record.message match {
                    case FromRequester(message) => {
                      @display(index, s"${message.body.action.capitalize} request from ${message.headers.requesterNSA}", record.createdAt, prettyXml(NsiProviderMessageToDocument[NsiProviderOperation](None).apply(message).get))
                    }
                    case ToRequester(message) => {
                      @display(index, s"${message.body.action.capitalize} reply to ${message.headers.requesterNSA}", record.createdAt, prettyXml(NsiRequesterMessageToDocument[NsiRequesterOperation](None).apply(message).get))
                    }
                    case ToProvider(message, _) => {
                      @display(index, s"${message.body.action.capitalize} request to ${message.headers.providerNSA}", record.createdAt, prettyXml(NsiProviderMessageToDocument[NsiProviderOperation](None).apply(message).get))
                    }
                    case FromProvider(message) => {
                      @display(index, s"${message.body.action.capitalize} reply from ${message.headers.providerNSA}", record.createdAt, prettyXml(NsiRequesterMessageToDocument[NsiRequesterOperation](None).apply(message).get))
                    }
                    case AckFromProvider(message) => {
                      @display(index, s"${message.body.action.capitalize} from ${message.headers.providerNSA}", record.createdAt, prettyXml(NsiProviderMessageToDocument[NsiAcknowledgement](None).apply(message).get))
                    }
                    case ToPce(message) => {
                      @display(index, s"${message.action.capitalize} request to PCE", record.createdAt, prettyJson(message))
                    }
                    case FromPce(message) => {
                      @display(index, s"${message.action.capitalize} reply from PCE", record.createdAt, prettyJson(message))
                    }
                    case AckFromPce(message) => {
                      @display(index, s"${message.action.capitalize} from PCE", record.createdAt, prettyJson(message))
                    }
                    case message: MessageDeliveryFailure => {
                      @display(index, s"MessageDeliveryFailure", record.createdAt, prettyJson(message))
                    }
                    case message: PassedEndTime => {
                      @display(index, s"PassedEndTime", record.createdAt, prettyJson(message))
                    }
                  }
                }
            </div>
        </div>
    </section>
}

<script>
$(prettyPrint);
</script>
