@(connections: Seq[(org.ogf.schemas.nsi._2013._04.connection.types.QuerySummaryResultType, Seq[nl.surfnet.safnari.ConnectionData])])

@main("Connections", "connections") {
<section>
    <h1>Connections</h1>
    <div class="content">

        @if(connections.isEmpty) {
            No Connections found
        } else {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>ConnectionId</th>
                        <th>Description</th>
                        <th>LSM</th>
                        <th>RSM</th>
                        <th>PSM</th>
                        <th>DSM</th>
                    </tr>
                </thead>
                <tbody>
                    @for((connection, segments) <- connections) {
                        <tr class="rowdetails">
                            <td class="center">
                                <i class="icon-plus-sign"></i>
                                <i class="icon-minus-sign"></i>
                                <div class="rowdetails-content">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <dl class="dl-horizontal">
                                                <dt>Start</dt>
                                                <dd>@nullable(connection.getCriteria().head.getSchedule().getStartTime())</dd>
                                                <dt>Source</dt>
                                                <dd>@stp(connection.getCriteria().head.getPath().getSourceSTP())</dd>
                                                <dt>Bandwidth</dt>
                                                <dd>@connection.getCriteria().head.getBandwidth()</dd>
                                                <dt>Global id</dt>
                                                <dd>@nullable(connection.getGlobalReservationId())</dd>
                                            </dl>
                                        </div>
                                        <div class="span6">
                                            <dl class="dl-horizontal">
                                                <dt>End</dt>
                                                <dd>@nullable(connection.getCriteria().head.getSchedule().getEndTime())</dd>
                                                <dt>Destination</dt>
                                                <dd>@stp(connection.getCriteria().head.getPath().getDestSTP())</dd>
                                                <dt>Version</dt>
                                                <dd>@connection.getCriteria().head.getVersion()</dd>
                                                <dt>Requester</dt>
                                                <dd>@connection.getRequesterNSA()</dd>
                                            </dl>
                                        </div>
                                    </div>
                                    @if(segments.isEmpty) {
                                        <strong>No Child Connections</strong>
                                    } else {
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>ConnectionId</th>
                                                    <th>NSA</th>
                                                    <th>LSM</th>
                                                    <th>RSM</th>
                                                    <th>PSM</th>
                                                    <th>DSM</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for(segment <- segments) {
                                                    <tr>
                                                        <td>@segment.connectionId</td>
                                                        <td>@segment.providerNsa</td>
                                                        <td>@segment.lifecycleState</td>
                                                        <td>@segment.reservationState</td>
                                                        <td>@segment.provisionState</td>
                                                        <td>@segment.dataPlaneStatus</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </td>
                            <td>@connection.getConnectionId()</td>
                            <td>@connection.getDescription()</td>
                            <td>@connection.getConnectionStates().getLifecycleState()</td>
                            <td>@connection.getConnectionStates().getReservationState()</td>
                            <td>@connection.getConnectionStates().getProvisionState()</td>
                            <td>@connection.getConnectionStates().getDataPlaneStatus().isActive()</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</section>

}

@stp(stp: org.ogf.schemas.nsi._2013._04.connection.types.StpType) = {
    @stp.getLocalId() @@ @stp.getNetworkId()
}
@nullable(field: Any) = @{
    if (field == null) "-" else field
}
