@(connections: Map[Symbol, Seq[(presenters.ConnectionPresenter, Seq[presenters.ConnectionPathSegmentPresenter])]], webParams: Map[String, String])

@main("Connections", "connections", webParams) {
    <section>
        <h1>Connections <span class="header-right">filtered: future</span></h1>
        <div class="content">
        @_connectionsList(connections('future))
        </div>
    </section>
    <section>
        <h1>Connections <span class="header-right">filtered: active</span></h1>
        <div class="content">
        @_connectionsList(connections('active))
        </div>
    </section>
    <section>
        <h1>Connections <span class="header-right">filtered: end time no older than a week</span></h1>
        <div class="content">
        @_connectionsList(connections('past))
        </div>
    </section>
}
