@(serviceStates: Map[String, Boolean], version: String, webParams: Map[String,String])

@main("Healthcheck", "healthcheck", webParams) {
    <section>
        <h1>Health Check<span class="header-right">@version</span></h1>
        <div class="content">
            <table class="table" id="healthcheck">
                <thead>
                    <tr><td>System</td><td>Status</td></tr>
                </thead>
                <tbody>
                    @for((service, up) <- serviceStates) {
                        <tr>
                            <td>@service</td>
                            <td>@if(up) { <i class="icon-ok-sign"></i> } else { <i class="icon-remove-sign"></i> }</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
}
