@(configuration: Configuration)(implicit request: play.api.mvc.RequestHeader)

@providerWsdl = { @configuration.providerServiceUrl }
@requesterWsdl = { @configuration.requesterServiceUrl }

@main("Welcome to the NSI Safnari", "usage", configuration.WebParams) {
    <section>
        <h1>Welcome</h1>
        <div class="content">
            <h3>Using NSI Safnari</h3>

            <p>Safnari (@configuration.NsaId) is a NSI Aggregator supporting the NSI v2 specification.</p>

            <p>The following service end points are implemented:</p>
            <ul>
                <li>Connection Provider Service WSDL: <a href="@providerWsdl">@providerWsdl</a></li>
                <li>Connection Requester Service WSDL: <a href="@requesterWsdl">@requesterWsdl</a></li>
            </ul>
        </div>
    </section>
}
