@(title: String, activeMenu: String)(content: Html)

@menus = @{
  List(
    ("usage", routes.Application.index),
    ("connections", routes.Application.connections)
  )
}

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <div class="wrapper">
            <header>
                <a href="@routes.Application.index">Home</a>
                <h1>NSI Safnari</h1>
            </header>
            <nav class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            @for((name, href) <- menus) {
                              <li @if(name == activeMenu) {class="active"}><a href="@href">@name.capitalize</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
            @content
            <footer>
                <div class="content-some-dense">
                    SURFnet bv | Postbus 19035, 3501 DA Utrecht | T +31 302 305 305 | F +31 302 305 329 | <a href="mailto:admin@@surfnet.nl">admin@@surfnet.nl</a><br/>
                </div>
            </footer>
        </div>
    </body>
</html>
